@media screen and (min-width: 992px) {
	body{
		background-image: url(omfgdogs.gif);
	}
	p{
		visibility: hidden;
	}
	footer{
		color: white;
		font-size: 24px;
		font-family: "Times New Roman";
		position: absolute;
		right: 0;
		bottom:0;
		background-color: black;

	}
	A:visited {
		text-decoration: underline; 
		color: white; 
	}
]